docs/mtp_firmware_for_app30/mtp_windows_explorer.png filter=lfs diff=lfs merge=lfs -text
docs/accessing_the_sensor_on_application_board/working_princpile_run_on_pc.png filter=lfs diff=lfs merge=lfs -text
docs/mtp_firmware_for_app30/mtp_android_2.png filter=lfs diff=lfs merge=lfs -text
docs/mtp_firmware_for_app30/mtp_android_3.png filter=lfs diff=lfs merge=lfs -text
docs/mtp_firmware_for_app30/mtp_windows.png filter=lfs diff=lfs merge=lfs -text
docs/installation/windows_gnu_arm_toolchain_installation.png filter=lfs diff=lfs merge=lfs -text
docs/coines_api/api_calls/streaming_sample.png filter=lfs diff=lfs merge=lfs -text
docs/installation/windows_tdm_gcc_installation_dialog.png filter=lfs diff=lfs merge=lfs -text
docs/application_board_20.png filter=lfs diff=lfs merge=lfs -text
docs/extending_the_usage_of_example_files/arduino_serial_plotter.png filter=lfs diff=lfs merge=lfs -text
docs/mtp_firmware_for_app30/mtp_ubuntu_nautilus.png filter=lfs diff=lfs merge=lfs -text
docs/accessing_the_sensor_on_application_board/working_princpile_run_on_mcu.png filter=lfs diff=lfs merge=lfs -text
docs/application_board_30.jpg filter=lfs diff=lfs merge=lfs -text
docs/bma222e_1_shuttle_board.jpg filter=lfs diff=lfs merge=lfs -text
docs/bma423_shuttle_board.jpg filter=lfs diff=lfs merge=lfs -text
docs/quickstart/eclipse_debug_config.jpg filter=lfs diff=lfs merge=lfs -text
docs/quickstart/eclipse_project_linux.jpg filter=lfs diff=lfs merge=lfs -text
docs/quickstart/eclipse_properties_linux.jpg filter=lfs diff=lfs merge=lfs -text
docs/quickstart/eclipse_properties_windows.jpg filter=lfs diff=lfs merge=lfs -text
docs/quickstart/eclipse_project_windows.jpg filter=lfs diff=lfs merge=lfs -text
docs/assets/logo.svg filter=lfs diff=lfs merge=lfs -text
